<div class="row shadow-sm border-top border-bottom">
 <div class="col-7 box1 text-center shadow-sm">
  <h2 class="mt-95px"><%= link_to "お酒を探す", drinks_path, class: "text-dark fs" %></h2>
 </div>
 <div class="col-5 box2 shadow-sm"></div>
</div>
<div class="row shadow-sm">
 <div class="col-5 box3"></div>
 <div class="col-7 box1 text-center">
  <h2 class="mt-7"><%= link_to "ログイン", new_user_session_path, class:"text-dark fs" %><br>
   <%= link_to "新規登録する", new_user_registration_path, class:"text-dark fs" %></h2>
 </div>
</div>
<div class="row text-center d-flex justify-content-center shadow-sm">
    <p>全国数あるお酒の図鑑のようなものを作りたくてサイトを立ち上げました。<br>
    飲んだお酒のレビューやコメントを投稿することができます。<br>
    他の人が飲んだお酒の感想に触れてまだ飲んだことのないお酒と出会ってみてはいかがですか？</p>
</div>
