// Place all the styles related to the creators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.c-box {
  width: 260px;
  height: 80px;
}

.ptext {
  font-size: 15px;
}