// Place all the styles related to the drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.d-box {
  width: 250px;
  height: 170px;
}

.d-font {
  font-size: 30px;
}

.sidebar {
  width: 300px;
  height: auto;
  border: 5px;
}

.box4 {
  width: 420px;
  height: 200px;
}

.reviews {
  width: 450px;
  height: 200px;
  margin: 5px;
}

.impression {
  width: 220px;
  height: 160px;
}